.sidenav-container {
  height: 70px;
  background-color: var(--main-color);
  position: relative;
  z-index: 7000;

}

.nav {
  padding: 0 10px;
}

.sidenav {
  width: 200px;
}

.menu {
  background-color: var(--main-color) !important;
  color: white;
  height: 70px;

}

mat-sidenav {
  background-color: white;
  color: var(--dark-blue);
  font-size: 1.2rem;
}

mat-sidenav mat-icon {
  color: var(--dark-blue);
}

.item {
  margin-bottom: 20px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img {
  width: 190px;
  height: 80px;
}


mat-icon {
  color: white;
}

ul {
  margin-top: 10px;
}

ul li {
  cursor: pointer;
  font-size: 22px;
  text-decoration: none;
  margin-right: 30px;
}

ul li a {
  color: white;
}

ul li.active a {
  font-weight: 600;
}

ul li.active:not(:last-child) {
  position: relative;
  padding-bottom: 6px;
  transition: 0.3s;
}

ul li.active:not(:last-child):after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
}

.bxs-cart-alt {
  position: relative;
  font-size: 1.5rem;
  margin-top: 5px;
}

.bxs-cart-alt p {
  background-color: white;
  color: var(--dark-blue);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width:768px) {
  .sidenav {
    display: none;
  }

  .mat-toolbar .mat-mdc-button-base.mat-unthemed {
    display: none;
  }

}

@media (max-width:767px) {
  ul {
    display: none !important;
  }

  .logo img {
    width: 200px;
  }
}

@media (max-width:992px) {
  ul li {
    font-size: 20px;
    margin-right: 20px;
  }
}