<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav right-slider" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menu"></mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/home" class="item side">Home</a>
      <a mat-list-item routerLink="/products" class="item side">Products</a>
      <a mat-list-item class="item side" routerLink="/cart">
        <div class="demo-section">
          <mat-icon matBadge={{count}} matBadgeColor="warn">shopping_cart</mat-icon>
          <span class="cdk-visually-hidden">
          </span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center justify-content-between w-100 pe-5">
          <span>
            <div class="logo">
              <img src="../../assets/images/logo.png" alt="logo img">
            </div>
          </span>
          <ul class="d-flex align-items-center justify-content-between me-5">
            <li routerLinkActive="active"> <a routerLink="/home" class="item">Home</a></li>
            <li routerLinkActive="active"> <a routerLink="/products" class="item">Products</a></li>
            <li routerLinkActive="active"> <a routerLink="/cart" class="item">
              <div class="demo-section">
                <i class='bx bxs-cart-alt'>
                  <p matBadge="{{count}}" matBadgeColor="warn" id="count"></p>
                </i>
              </div>
              </a>
            </li>
          </ul>
        </div>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>