
<div class="ground container-fluid">
    <div class="main d-flex justifiy-content-between align-items-center">
        <div class="left w-50">
            <h1>{{head}}</h1>
            <p>Trendy Outfits ,Shop the latest trends.</p>
            <p>Shopping will be more convenient and enjoyable.</p>
            <button class="btn shop btn-success mt-5" routerLink="/products">Show Products</button>
        </div>
        <div class="right w-50">
            <!-- <video src="../../assets/images/Shopping.mp4" alt="" autoplay></video> -->
            <img src="../../assets/images/logoImage.jpg" alt="">
        </div>
    </div>
</div>
